/* 颜色 */
:root {
  --mio-theme-op: #4259ef23;
  --mio-card-bg-none: rgba(255, 255, 255, 0);
  --mio-main-op-deep: var(--mio-theme-op-deep) !important;
  --mio-gray-op: #9999992b;
  --mio-theme-top: var(--mio-theme);
  --mio-white: #fff;
  --mio-white-op: rgba(255, 255, 255, 0.2);
  --mio-black: #000;
  --mio-black-op: rgba(0, 0, 0, 0.2);
  --mio-none: rgba(0, 0, 0, 0);
  --mio-gray: #999999;
  --mio-yellow: #ffc93e;
  --mio-orange: #e38100;
  --mio-border-radius: 8px;
  --mio-main: var(--mio-theme);
  --mio-main-op: var(--mio-theme-op);
  --mio-shadow-theme: 0 8px 12px -3px var(--mio-theme-op);
  --mio-shadow-main: 0 8px 12px -3px var(--mio-main-op);
  --mio-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
  --mio-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
  --mio-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
  --mio-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
  --mio-shadow-red: 0 8px 12px -3px #ee7d7936;
  --mio-shadow-green: 0 8px 12px -3px #87ee7936;
  --mio-shadow-border: 0 8px 16px -4px #2c2d300c;
  --mio-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
  --mio-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
  --style-border: 1px solid var(--mio-card-border);
  --mio-blue-main: #3b70fc;
  --style-border-hover: 1px solid var(--mio-main);
  --style-border-dashed: 1px dashed var(--mio-theme-op);
  --style-border-avatar: 4px solid var(--mio-background);
  --style-border-always: 1px solid var(--mio-card-border);
  --style-border-none: 1px solid transparent;
  --mio-white-acrylic1: #fefeff !important;
  --mio-white-acrylic2: #fcfdff !important;
  --mio-black-acrylic2: #08080a !important;
  --mio-black-acrylic1: #0b0b0e !important;
  --mio-main-none: #b8b8b800 !important;
}

[data-theme="light"] {
  --mio-theme-op-deep: #4259efdd;
  --global-bg: #f7f9fe;
  --mio-theme: #3b70fc;
  --mio-theme-deep: #1856fb;
  --mio-theme-op: #4259ef23;
  --mio-blue: #3b70fc;
  --mio-red: #d8213c;
  --mio-pink: #ff7c7c;
  --mio-green: #57bd6a;
  --mio-fontcolor: #363636;
  --mio-background: #f7f9fe;
  --mio-reverse: #000;
  --mio-maskbg: rgba(255, 255, 255, 0.6);
  --mio-maskbgdeep: rgba(255, 255, 255, 0.85);
  --mio-hovertext: var(--mio-theme);
  --mio-ahoverbg: #f7f7fa;
  --mio-lighttext: var(--mio-main);
  --mio-secondtext: rgba(60, 60, 67, 0.6);
  --mio-scrollbar: rgba(60, 60, 67, 0.4);
  --mio-card-btn-bg: #edf0f7;
  --mio-post-blockquote-bg: #fafcff;
  --mio-post-tabs-bg: #f2f5f8;
  --mio-secondbg: #f1f3f8;
  --mio-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --mio-card-bg: #fff;
  --mio-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --mio-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --mio-card-border: #e3e8f7;
}

[data-theme="dark"] {
  --mio-theme-op-deep: #0084ffdd;
  --global-bg: #18171d;
  --mio-theme: #0084ff;
  --mio-theme-deep: #0076e5;
  --mio-theme-op: #0084ff23;
  --mio-blue: #0084ff;
  --mio-red: #ff3842;
  --mio-pink: #ff7c7c;
  --mio-green: #57bd6a;
  --mio-fontcolor: #f7f7fa;
  --mio-background: #18171d;
  --mio-reverse: #fff;
  --mio-maskbg: rgba(0, 0, 0, 0.6);
  --mio-maskbgdeep: rgba(0, 0, 0, 0.85);
  --mio-hovertext: #0a84ff;
  --mio-ahoverbg: #fff;
  --mio-lighttext: #f2b94b;
  --mio-secondtext: #a1a2b8;
  --mio-scrollbar: rgba(200, 200, 223, 0.4);
  --mio-card-btn-bg: #30343f;
  --mio-post-blockquote-bg: #000;
  --mio-post-tabs-bg: #121212;
  --mio-secondbg: #30343f;
  --mio-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --mio-card-bg: #1d1b26;
  --mio-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --mio-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --mio-card-border: #42444a;
}


/* 鼠标样式 */
#cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  /* 这里改变跟随的底色 */
  background: rgb(57, 197, 187);
  border-radius: 8px;
  opacity: 0.25;
  z-index: 10086;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transition-property: background, opacity, transform;
}

#cursor.hidden {
  opacity: 0;
}

#cursor.hover {
  opacity: 0.1;
  transform: scale(2.5);
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -ms-transform: scale(2.5);
  -o-transform: scale(2.5);
}

#cursor.active {
  opacity: 0.5;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}



/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: rgba(255, 255, 255, 0.8); /* 使用 RGBA 值设置背景颜色，并设置 alpha 通道为 0.8 */
  border-radius: 25px;
  border: var(--border-style);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: rgba(255, 255, 255, 0.8); /* 使用 RGBA 值设置背景颜色，并设置 alpha 通道为 0.8 */
  border-radius: 18px;
  border: var(--border-style);
}

/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
  background: rgba(255, 255, 255, 0.8); /* 使用 RGBA 值设置背景颜色，并设置 alpha 通道为 0.8 */
  border: var(--border-style);
  border-radius: 20px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
  background: rgba(0, 0, 0, 0.8) !important;
}



header {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: center center;
}



#footer {
  height: 150px; /* 这里的值可以根据您的需要进行调整 */
  # background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: bottom center;
  background-color: transparent;
}

@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'YSHST';	
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(/font/优设好身体.woff2);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}

/* 波浪css */
.main-hero-waves-area {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -11px;
  z-index: 5;
}
.waves-area .waves-svg {
  width: 100%;
  height: 5rem;
}
/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #f7f9febd;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #f7f9fe82;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #f7f9fe36;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #f7f9fe;
}
/* 黑色模式背景 */
[data-theme="dark"] .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: #18171dc8;
}
[data-theme="dark"] .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: #18171d80;
}
[data-theme="dark"] .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: #18171d3e;
}
[data-theme="dark"] .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: #18171d;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves-area .waves-svg {
    height: 40px;
    min-height: 40px;
  }
}

/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
    content: '输入QQ号会自动获取昵称和头像🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
    content: '收到回复将会发送到您的邮箱📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
    content: '可以通过昵称访问您的网站🔗';
}

/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
    display: block;
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
    /* 先隐藏起来 */
    display: none;
    /* 绝对定位 */
    position: absolute;
    /* 向上移动60像素 */
    top: -60px;
    /* 文字强制不换行，防止left:50%导致的文字换行 */
    white-space: nowrap;
    /* 圆角 */
    border-radius: 10px;
    /* 距离左边50% */
    left: 50%;
    /* 然后再向左边挪动自身的一半，即可实现居中 */
    transform: translate(-50%);
    /* 填充 */
    padding: 14px 18px;
    background: #444;
    color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
    display: none;
    content: '';
    position: absolute;
    /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
    我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
    border: 12px solid transparent;
    border-top-color: #444;
    left: 50%;
    transform: translate(-50%, -48px);
}

#owo-big {
    position: fixed;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px #aaa solid;
    border-radius: 10px;
    z-index: 9999;
    display: none;
    transform: translate(0, -105%);
    overflow: hidden;
    animation: owoIn 0.3s cubic-bezier(0.42, 0, 0.3, 1.11);
}

[data-theme=dark] #owo-big {
    background-color: #4a4a4a
}

#owo-big img {
    width: 100%;
}

/* 动画效果代码由 Heo：https://blog.zhheo.com/ 提供 */
@keyframes owoIn {
    0% {
        transform: translate(0, -95%);
        opacity: 0;
    }
    100% {
        transform: translate(0, -105%);
        opacity: 1;
    }
}

#nav-right{
  flex:1 1 auto;
  justify-content: flex-end;
  margin-left: auto;
  display: flex;
  flex-wrap:nowrap;
}

#nav *::after{
  background-color: transparent!important;
}


.menus_item_child li:not(#sidebar-menus li){
  float: left;
  border-radius: 6px!important;
  -webkit-border-radius: 6px!important;
  -moz-border-radius: 6px!important;
  -ms-border-radius: 6px!important;
  -o-border-radius: 6px!important;
}
.menus_item_child:not(#sidebar-menus ul){
/*
  left:calc(-150%)!important;这是估算值，为了保持元素居中的，如果不合适可以自己调
改为：*/
left:50%;
translate:-50%;
}

.loading-img {
  background: url(/assets/head.jpg) no-repeat center center;
  background-size: cover;
}